<h2 class="header">All Addresses</h2>
<br>
<table id="address">
    <tr>
        <th>Adresss Id</th>
        <th>building name</th>
        <th>city</th>
        <th>action</th>
    </tr>
    <tr *ngFor="let address of allAddress">
        <td>{{address.addressId}}</td>
        <td>{{address.buildingName}}</td>
        <td>{{address.city}}</td>
        <td><button (click)="showDetails(address.addressId)">Details</button>
            <button (click)="updateAddress(address.addressId)">update</button>
            <button (click)="deleteAddress(address.addressId)">Delete</button>
        </td>
    </tr>
</table>

